# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
chroma_db/
.gradio/
*.csv
tagged_description.txt
cover-not-found.jpg

# Distribution / packaging
dist/
build/
*.egg-info/ 